################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/memoryGame/obj
/.vs
